*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header-image {
    height: 400px;
    width: 100%;
    background-image: url(img/mv.1.jpg);

}

.header-logo{
    padding: 20px 20px;

}

main {
    width: 840px;
    margin: 50px auto;
}

.main-visual1{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.main-visual2{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.main-visual3{
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.main-visual4{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}